## TASK_4

once you decided to do some exploring an want to know each country's (name, capital, population, Area(km^2) 
scrape the 250 countries (name, capital, population, area) and save them into a csv file
use this site to scrape this data : https://www.scrapethissite.com/pages/simple/

In [1]:
import requests
from bs4 import BeautifulSoup
import csv

In [2]:
url = "https://www.scrapethissite.com/pages/simple/"

In [3]:
response = requests.get(url)

In [4]:
soup = BeautifulSoup(response.text, 'html.parser')

In [5]:
countries = []
for country in soup.find_all('div', class_='country'):
    name = country.find('h3', class_='country-name').text.strip()
    capital = country.find('span', class_='country-capital').text.strip()
    population = country.find('span', class_='country-population').text.strip()
    area = country.find('span', class_='country-area').text.strip()
    countries.append({
        'name': name,
        'capital': capital,
        'population': population,
        'area': area
    })

In [7]:
with open('countries.csv', mode='w', newline='', encoding="utf-8") as file:
    writer = csv.writer(file)
    writer.writerow(['name', 'capital', 'population', 'area'])
    for country in countries:
        writer.writerow([country['name'], country['capital'], country['population'], country['area']])

In [8]:
import pandas as pd

df = pd.read_csv("countries.csv", encoding="utf-8")
df

                     name           capital  population       area
0                 Andorra  Andorra la Vella       84000      468.0
1    United Arab Emirates         Abu Dhabi     4975593    82880.0
2             Afghanistan             Kabul    29121286   647500.0
3     Antigua and Barbuda        St. John's       86754      443.0
4                Anguilla        The Valley       13254      102.0
..                    ...               ...         ...        ...
245                 Yemen             Sanaa    23495361   527970.0
246               Mayotte         Mamoudzou      159042      374.0
247          South Africa          Pretoria    49000000  1219912.0
248                Zambia            Lusaka    13460305   752614.0
249              Zimbabwe            Harare    11651858   390580.0

[250 rows x 4 columns]